entrypoint = "main.py"
modules = ["python-3.11:v14-20231207-2f65342"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 8090 --workers 4"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "pip install -r requirements.txt"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39374005

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 8090 --reload --workers 4"
